#settings .dialog__window {
	width: 500px;
}
.settings__section {
	align-items: baseline;
	border-top: 1px solid var(--color-darkest);
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0 0 0;
	padding-top: 10px;
	width: 100%;
}
.settings__section-left,
.settings__section-right {
	flex-basis: 50%;
	min-width: 200px;
}
.settings__section-right select {
	border: 1px solid var(--color-darkest);
	border-radius: 0;
	background-color: transparent;
	font-size: 16px;
	-moz-appearance: none;
	padding: 8px 16px;
}
.settings__section-header {
	margin: 10px 0;
}
.settings__status {
	color: var(--color-mid);
	margin-top: 10px;
}
.settings__section .btn {
	margin-right: 10px;
}
.settings__btn_description {
	margin-top: 10px;
}
