@import 'dialog.css';
@import 'settings.css';

:root {
  --color-lightest: #fff;
  --color-lighter: #eee;
  --color-light: #ccc;
  --color-midlight: #aaa;
  --color-mid: #999;
  --color-middark: #666;
  --color-dark: #333;
  --color-darker: #111;
  --color-darkest: #000;
}

/************************
 * Fonts and icons
 ************************/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?8ue2bf');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?8ue2bf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?8ue2bf') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?8ue2bf') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?8ue2bf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-note:before {
  content: "\e80a";
}
.icon-open:before {
  content: "\f115";
}
.icon-play:before {
  content: "\e802";
}
.icon-pause:before {
  content: "\e803";
}
.icon-save:before {
  content: "\e801";
}
.icon-stop:before {
  content: "\e804";
}
.icon-mic:before {
  content: "\e902";
}
.icon-micmute:before {
  content: "\e901";
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#app {
  margin: 20px auto 0 auto;
  width: 96vw;
}
#settings-btn {
  background: transparent url('../img/cog.svg') no-repeat;
  background-size: contain;
  border: none;
  height: 20px;
  outline: none;
  padding: 10px;
  position: absolute;
  right: 28px;
  top: 28px;
  width: 20px;
}
#waveform {
  border: 4px solid var(--color-lighter);
  border-radius: 10px;
  height: 80px;
  margin: 10px 60px 10px 10px;
}
#waveform.waveform--dragover {
  border: 4px dotted var(--color-dark);
}
#controls {
  align-items: stretch;
  display: flex;
  margin: 10px;
}
#controls__record-arm {
  flex-grow: 0;
}
#controls__record-meter {
  border: 4px solid var(--color-lighter);
  border-radius: 10px;
  flex-grow: 1;
  height: 80px;
  margin-left: 10px;
  overflow: hidden;
}
#controls__record-arm + .btn {
  align-items: center;
  background-color: var(--color-lightest);
  border: 4px solid var(--color-lighter);
  border-radius: 40px;
  color: var(--color-mid);
  display: flex;
  font-size: 27px;
  height: 80px;
  width: 80px;
}
.btn {
  background-color: var(--color-lightest);
  border: 1px solid var(--color-darkest);
  border-radius: 0;
  color: var(--color-darkest);
  cursor: pointer;
  font-size: 16px;
  justify-content: space-around;
  outline: none;
  padding: 8px 16px;
  text-align: center;
}
.btn:hover {
  background-color: var(--color-lighter);
  color: var(--color-dark);
}
.toggle__check {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.toggle__check + .toggle__label > span:before {
  content: attr(data-off);
}
.toggle__check:checked + .toggle__label > span:before {
  content: attr(data-on);
}
.toggle__check:checked + .toggle__label {
  background-color: var(--color-light);
  color: var(--color-dark);
}
#shapes {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 0 8px;
}
.shape {
  display: flex;
  height: 12vw;
  position: relative;
  width: 12.5%;
}
.shape:after {
  border: 4px solid var(--color-lighter);
  border-radius: 10px;
  content: '';
  display: block;
  margin: 2px;
  width: 100%;
}
.shape:before {
  background: transparent no-repeat center center;
  background-size: 40%;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.shape--assigned:after {
  background-color: var(--color-lighter);
}
.shape--play:after {
  background-color: var(--color-lighter);
}
.shape--selected:after {
  border: 4px solid var(--color-midlight);
}
.shape--dragover:after {
  border: 4px dotted var(--color-middark);
}
.shape--assigned {
  cursor: pointer;
}
.shape--assigned.shape--play:after {
  background-color: var(--color-light);
}
.shape:nth-of-type(1):before {
  background-image: url('../img/shape0.svg');
}
.shape:nth-of-type(2):before {
  background-image: url('../img/shape1.svg');
}
.shape:nth-of-type(3):before {
  background-image: url('../img/shape2.svg');
}
.shape:nth-of-type(4):before {
  background-image: url('../img/shape3.svg');
}
.shape:nth-of-type(5):before {
  background-image: url('../img/shape4.svg');
}
.shape:nth-of-type(6):before {
  background-image: url('../img/shape5.svg');
}
.shape:nth-of-type(7):before {
  background-image: url('../img/shape6.svg');
}
.shape:nth-of-type(8):before {
  background-image: url('../img/shape7.svg');
}

@media (min-width: 770px) {
  #app {
    width: 80vw;
  }
  .shape:before {
    background-size: 45%;
  }
}

@media (min-width: 1024px) {
  .shape:before {
    background-size: 30%;
  }
}

@media (min-width: 1440px) {
  .shape:before {
    background-size: 25%;
  }
}

@media (min-height: 700px) {
  #app {
    margin-top: 70px;
  }
  #waveform {
    height: 120px;
    margin-right: 10px;
  }
  #shapes {
    padding: 0;
  }
  .shape {
    height: 24vw;
    width: 25%;
  }
}

@media (min-width: 770px) and (max-height: 700px) {
  #waveform {
    margin-right: 10px;
  }
  .shape {
    height: 10vw;
  }
}

@media (min-width: 770px) and (min-height: 700px) {
  .shape {
    height: 20vw;
  }
}
